body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
}

h1 {
    text-align: center;
    font-size: 35px;
}

p {
    text-align: center;
    font-size: 18px;
}

button {
    background: #ffffff;
    color: #1e3c72;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #dddddd;
}

form, table, #details {
    background: rgba(255,255,255,0.15);
    padding: 20px;
    border-radius: 15px;
    margin: 20px auto;
    max-width: 800px;
}

input, textarea {
    width: 90%;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

table {
    width: 100%;
}

th, td {
    padding: 12px;
}
a {
    color: red;
    text-decoration: none;
}
/* Dashboard Design */

body {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 35px;
}

h2 {
    margin-top: 20px;
}

button {
    background: white;
    color: #1e3c72;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

#totalCases {
    background: white;
    color: #1e3c72;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 15px;
    font-size: 35px;
}
/* Police-file Dashboard Design */

body {
    background: linear-gradient(135deg, #0b1f3a, #1e5aa8);
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 20px;
}

.dashboard-header {
    text-align: center;
    padding: 20px;
}

.dashboard-header h1 {
    font-size: 35px;
}

.dashboard-header p {
    font-size: 18px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    color: #0b1f3a;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

.card h2 {
    margin-bottom: 15px;
}

.card button {
    background: #b30000;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
}

.card button:hover {
    opacity: 0.8;
}
